.p-column-title {
    text-align: center;
    width: 100%;
}

.p-datatable-table {
    width: 100%;
    border-radius: 5rem;
}

.p-datatable {
    border-radius: 5rem;
}

.p-datatable-tbody tr:hover {
    filter: brightness(90%);
}