.p-speeddial {
  position: relative;
}

.p-megamenu-submenu-header {
  text-decoration: underline;
  color: var(--primary-color) !important;
}

.p-password-show-icon, .p-password-hide-icon {
  position: absolute;
  right: 0.5em; /* Adjust as needed for your specific design */
}

.preserve-whitespace {
  white-space: pre-line;
}